//Custom Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,500&display=swap');
@import '~include-media/dist/include-media';

$base-color: #212529;
$background-base: rgba($base-color, 0.88);

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;

  .LoginComponent {
    background: url("./assets/background.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &::after{
      background: $background-base;
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 0;
    }
    .Description {
      text-align: initial;
      color: white;
      font-family: poppins;
      width: 500px;
      justify-self: right;
      z-index: 1;

      h1 {
        font-size: 4em;
        font-weight: 500;
      }

      p {
        font-weight: 300;
        font-size: 1.5em;
      }
    }

    @include media("<desktop") {
      grid-gap: 0;
      .Description {
        h1 { font-size: 2.5em; }
        p { font-size: 1.2em; }
        width: 300px;
        justify-self: center;
      }
    }

    @include media("<=tablet") {
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr;
      justify-items: center;
      .Description {
        width: 100%;
        padding: 5em;
      }
    }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.fix-alert {
  position: fixed !important;
  top: 1em;
  right: 1em;
  margin-left: 1em;
  z-index: 999;
  text-align: initial;
  max-width: 500px;
  opacity: 1;

  & button:focus{
    outline: 0;
    box-shadow: none;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MainApp {
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*Login Main Container*/
.login {
  width: 27em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 99;


  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 99;
    width: 100%;
    height: auto;
    z-index: 99;
    padding: 17px 10px;
    //transition: transform 200ms ease-in-out;
  }
  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    background-color: #882222;
    width: 100%;
    position: absolute;
    right: -34%;
    border-radius: 6px;
    z-index: 0;
    transition: all 400ms ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);

    &.right {
      right: -40%;
      align-items: flex-end;
      &:hover {
        right: -45%;
      }
    }
    &.left {
      right: 40%;
      align-items: flex-start;
      &:hover {
        right: 45%;
      }
    }

    .text {
      font-size: 21px;
      font-weight: 500;
      color: #fff;
      margin-right: 3em;
      margin-left: 3em;
    }
  }

  @include media("<desktop") {
    width: 23em;
    .base-container {
      .content {
        .footerBtn {
          justify-content: space-evenly;
          .btn {
            padding: .6em 2.5em;
          }
        }
      }
    }
  }

  @include media("<=tablet") {
    width: 100%;
    height: 100%;
    .container {
      width: 100%;
      height: 100%;
      border-radius: 0;
      max-width: 100%;
    }
  }
}

/** Or **/
.or-separator {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  position: relative;
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 1em;
}

.or-text {
  position: absolute;
  left: 46%;
  top: 0;
  background: #fff;
  padding: 10px;
  color: rgba(0, 0, 0, 0.45);
}

.base-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;

  .social-login {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-gap: 1em;

    .btn {
      display: flex;
      font-weight: 400;
      text-align: center;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 0 20px;
      font-size: 14px;
      border-radius: 4px;
      height: auto;
      line-height: 47px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      position: relative;
      color: rgba(0, 0, 0, 0.65);
      background-color: transparent;
      border-color: #e8e8e8;
      outline: none;
      justify-content: center;
      padding: 1em;

      .socialimg {
        height: 50px;
        width: 50px;
      }

      .btn-social-text {
        display: inline-block;
        margin-left: 1em;
      }

      .btn-block {
        display: block;
        width: 100%;
      }


      .btn-lg {
        padding: 0 30px;
      }
    }

    .btn-primary {
      color: #fff;
      background-color: #2098f3;
      border-color: #2098f3;
    }

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active {
      background-color: #40a9ff;
      border-color: #40a9ff;
    }

    .btn-success {
      color: #fff;
      background-color: #52c41a;
      border-color: #52c41a;
    }

    .btn-success:hover,
    .btn-success:focus,
    .btn-success:active,
    .btn-success.active {
      background-color: #52c41a;
      border-color: #52c41a;
    }

    .btn-link {
      border: none;
      height: 34px;
      padding: 0 15px;
    }

    .btn-link:hover {
      background-color: rgba(158, 158, 158, 0.2);
    }
  }

  .image {
    width: 300px;
    margin-bottom: 2em;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .header {
    font-size: 24px;
    font-family: "Open Sans", san-serif;
    width: 25%;
    height: 5%;
  }

  .content {
    .footerBtn {
      display: flex;
      justify-content: space-around;
      justify-items: center;

      .btn {
        color: white;
        padding: .6em 3em;

        &:focus {
          box-shadow: none !important;
        }
      }
    }

    width: 100%;
    padding: 0 2em;
    text-align: initial;

    .row {
      width: 109%;
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .checkError {
      display: flex;
      flex-direction: column;
      align-items: auto;
      width: fit-content;
      font-size: 10px;
      color: red;
    }

    .field {
      margin-top: 6px;
      height: 37px;
      padding: 0px 5px;
      font-size: 16px;
      font-family: "Open Sans", sans-serif;
      background-color: #f3f3f3;
      border: 0;
      border-radius: 4px;
      margin-bottom: 15px;
      transition: all 250ms ease-in-out;

      &:focus {
        outline: none;
        box-shadow: 0px 0px 12px 0.8px #0e81ce96;
      }

      &:hover {
        background-color: #ffffff;
        box-shadow: 0px 0px 14px 0.3px #0e81ce96;
      }
    }

    .loginLink {
      display: flex;
      justify-content: center;
      margin: .8em 0;

      a {
        font-size: .8em;
        font-style: italic;
      }
    }

    .form-group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      font-family: poppins;

      label {
        font-size: 15px;
        padding: 0px 0px 0px 5px;

      }

      Field {

        margin-top: 6px;
        //min-width: 18em;
        height: 37px;
        padding: 0px 10px;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        background-color: #f3f3f3;
        border: 0;
        border-radius: 4px;
        margin-bottom: 31px;
        transition: all 250ms ease-in-out;

        &:focus {
          outline: none;
          box-shadow: 0px 0px 12px 0.8px #0e81ce96;
        }

        &:hover {
          background-color: #ffffff;
          box-shadow: 0px 0px 14px 0.3px #0e81ce96;
        }
      }

      input {
        margin-top: 6px;
        width: 100%;
        height: 50px;
        padding: 0px 15px;
        font-size: 16px;
        background-color: #f3f3f3;
        border: 1px solid #007BFF;
        border-radius: 10px;

        margin-bottom: 0px;
        transition: all 250ms ease-in-out;

        &:focus {
          outline: none;
          box-shadow: none;
        }

        &:hover {
          background-color: #ffffff;
          box-shadow: 0px 0px 14px 0.3px #0e81ce96;
        }
      }
    }
  }
}}
